*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
table{
    border: 2.5px solid black;
    margin: auto;
    background-color: #99ccfc;
    border-collapse: collapse;
    tr{
        td{
            border-collapse:collapse ;
            padding: 20px;
            position: relative;
            border: thin solid black;
            
        }
    }
}


